@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /*tekst*/
    --very-dark-desaturated: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    /* background gradient */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --light-grayish-blue: hsl(240, 5%, 91%);
    --font: 'Kumbh Sans', sans-serif;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: var(--font);
}

body {
    background: linear-gradient(var(--soft-violet), var(--soft-blue));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}  

main {
    position: relative;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 87.5vw;
    border-radius: 25px;
    padding: 26px;
    margin: 12rem auto;

}
.image{
    height: 2rem;
    
}
.content {
margin-top: 7rem;   

}


.mobileImg {
    position: absolute;
    top: -9rem;
    left: 50%;
    transform: translateX(-50%);
    width: 19.9rem;
    
}

.mobileBg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}
.desktopImg,
.desktopBg{
    display: none;
}


h1 {
    margin-top: 1.6rem;
    font-size: 1.1rem;
    font-weight: 400;
}

.faq {
    
    font-weight: 700;
    font-size: 2.6rem;
    text-align: center;
    margin-bottom: 2.5rem;
}

p{
    display: none;

}
.border{
    border-bottom: 1px solid gray;
    margin-top: 1.5rem;
    opacity: 0.2;
}
.faq1,
.faq2,
.faq3,  
.faq4,
.faq5{
                
    position: relative;
}
.arrow{
    background-image: url(images/icon-arrow-down.svg);
    background-repeat: no-repeat;
    width: 10px; 
    height: 10px;
    position: absolute;
    right:0;
    top: 0;
    margin-top:4px;
    transition: .1s linear;
} 
.box{
    display: none;
}


h1:hover{
    cursor: pointer;
    color: var(--soft-red);
}
h1.active{
    font-weight: 700;
}
h1.active~p{
    display: block;
    margin-top: 0.9rem;
    margin-bottom: 1rem;
    line-height: 18px;
    width: 90%;
    opacity: 0.5;
}

h1.active~.arrow{
    transform: rotate(180deg);
    transform-origin: center;
    margin-top:2px;
}
/* .text{
    width: 22rem;
} */

@media only screen and (min-width:800px){
    section{
        flex-direction: row;
        width: 740px;
        overflow: hidden;
        margin: 5rem;
    }
    .image {
        width: 45%;
        height: 100%;
        position: relative;
        


    }
    .mobileImg,
    .mobileBg{
        display: none;
    }

    .desktopImg{
        display: block;
        position: absolute;
        left: -7.5rem;
        top:3rem;
        width: 121%;
        z-index: 1;
    }
    .desktopBg{
        display: block;
        position: absolute;
        width: 250%;
        top: -21.5rem;
        left: -41rem;
    }
    .box{
        display: block;
        position: absolute;
        top: 19rem;
        left: -1.5rem;
        width: 18%;
        z-index: 2;
    }
    .content{
        height: 100%;
        padding-left: 4.6rem; 
        margin-top: 2rem; 
    }
    .text{
        width: 22.5rem;
    }  
    .faq{
        font-size: 2.2rem ;
        text-align: left;
    }
}